body{
  padding: 0;
  margin: 0;
}

.loader{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #f3f3f3;
  border-top: 20px solid ;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
